{% extends 'base.html' %}
{% block content %}
<h2>Order Confirmation</h2>
<p>Thank you, {{ order.customer_name }}! Your order has been placed.</p>
<p><strong>Delivery Address:</strong> {{ order.address }}</p>
<p><strong>Order Date/Time:</strong> {{ order.order_date|date:"M d, Y H:i" }}</p>
{% if order.expected_delivery_time %}
  <p><strong>Expected Delivery Time:</strong> {{ order.expected_delivery_time|date:"M d, Y H:i" }}</p>
{% endif %}
<h3>Your Pizzas:</h3>
<ul>
  {% for pizza in order.pizzas.all %}
    <li>
      <strong>{{ pizza.size }} pizza</strong> &mdash; €{{ pizza.total_price }}<br>
      <strong>Cheese:</strong> {{ pizza.cheese }}<br>
      <strong>Sauce:</strong> {{ pizza.sauce }}<br>
      {% if pizza.toppings.all %}
        <strong>Toppings:</strong>
        <ul>
          {% for topping in pizza.toppings.all %}
            <li>{{ topping.name }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <em>No extra toppings</em>
      {% endif %}
    </li>
  {% endfor %}
</ul>
<h4>Total Order Price: €{{ order.total_order_price }}</h4>
<div class="text-center mt-4">
  <a href="{% url 'order_overview' %}" class="btn btn-primary">Home</a>
</div>
{% endblock %}
